In [274]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Part 1

In [275]:
businesses = pd.read_csv('yelp_academic_dataset_business.csv')
reviews = pd.read_csv('yelp_academic_dataset_review.csv')
users = pd.read_csv('yelp_academic_dataset_user.csv')

In [276]:
businesses.head()

,business_id,city,business_name,categories,review_count,average_stars
0,Apn5Q_b6Nz61Tq4XzPdf9A,b'Calgary',b'Minhas Micro Brewery',"Tours, Breweries, Pizza, Restaurants, Food, Ho...",24,4.0
1,AjEbIBw6ZFfln7ePHha9PA,b'Henderson',"b""CK'S BBQ & Catering""","Chicken Wings, Burgers, Caterers, Street Vendo...",3,4.5
2,O8S5hYJ1SMc8fA4QBtVujA,b'Montral',b'La Bastringue',"Breakfast & Brunch, Restaurants, French, Sandw...",5,4.0
3,6OuOZAok8ikONMS_T3EzXg,b'Mississauga',b'Thai One On',"Restaurants, Thai",7,2.0
4,8-NRKkPY1UiFXW20WXKiXg,b'Avondale',"b""Filiberto's Mexican Food""","Mexican, Restaurants",40,2.5

In [277]:
businesses['city'] = businesses['city'].apply(lambda x : x[2:len(x)-1])
businesses['business_name'] = businesses['business_name'].apply(lambda x : x[2:len(x)-1])

In [278]:
users.head()

                  user_id    user_name
0  lzlZwIpuSWXEnNS91wxjHw     b'Susan'
1  XvLBr-9smbI0m_a7dXtB7w  b'Daipayan'
2  QPT4Ud4H5sJVr68yXhoWFw      b'Andy'
3  i5YitlHZpf0B3R0s_8NVuw  b'Jonathan'
4  s4FoIXE_LSGviTHBe8dmcg  b'Shashank'

In [279]:
users['user_name'] = users['user_name'].apply(lambda x : x[2:len(x)-1])

In [280]:
reviews.head()

                  user_id             business_id  user_rating
0  msQe1u7Z_XuqjGoqhB0J5g  iCQpiavjjPzJ5_3gPD5Ebg            2
1  msQe1u7Z_XuqjGoqhB0J5g  pomGBqfbxcqPv14c3XH-ZQ            5
2  msQe1u7Z_XuqjGoqhB0J5g  jtQARsP6P-LbkyjbO1qNGg            1
3  msQe1u7Z_XuqjGoqhB0J5g  elqbBhBfElMNSrjFqW3now            2
4  msQe1u7Z_XuqjGoqhB0J5g  Ums3gaP2qM3W1XcA5r6SsQ            5

In [281]:
df = reviews.merge(users, on = "user_id", how = 'inner')
table = df.merge(businesses, on = "business_id", how = "inner")

In [282]:
table.head()

,user_id,business_id,user_rating,user_name,city,business_name,categories,review_count,average_stars
0,msQe1u7Z_XuqjGoqhB0J5g,iCQpiavjjPzJ5_3gPD5Ebg,2,Melissa,Las Vegas,Secret Pizza,"Pizza, Restaurants",4078,4.0
1,D1_nrBr4dOrs7M82OaBRwQ,iCQpiavjjPzJ5_3gPD5Ebg,3,Raed,Las Vegas,Secret Pizza,"Pizza, Restaurants",4078,4.0
2,jEjc8HxeCeI22M4di0Y1aw,iCQpiavjjPzJ5_3gPD5Ebg,5,Cheryl,Las Vegas,Secret Pizza,"Pizza, Restaurants",4078,4.0
3,RTiaaHSN80VRTLSdNK5rfQ,iCQpiavjjPzJ5_3gPD5Ebg,5,Allyssa,Las Vegas,Secret Pizza,"Pizza, Restaurants",4078,4.0
4,hBmJs49zYcXdV4wo8F5iiA,iCQpiavjjPzJ5_3gPD5Ebg,5,Sarah,Las Vegas,Secret Pizza,"Pizza, Restaurants",4078,4.0

In [283]:
viet_restaurant = table[table['categories'].str.contains('Vietnamese')]

In [284]:
num_reviews_viet = viet_restaurant[['user_id', 'user_name', 'business_name']].groupby('user_id').size().reset_index(name='num_reviews_viet')

In [285]:
num_reviews_viet.head()

                  user_id  num_reviews_viet
0  --B08Ekk4Y_4KFuF9MWdtw                 1
1  --BumyUHiO_7YsHurb9Hkw                 1
2  --C93xIlmjtgQfSOIpcQSA                 1
3  --DxiDMQgN08E5gTM0aj7Q                 1
4  --Nnm_506G_p8MxAOQna5w                 2

In [286]:
user_to_restaurant = viet_restaurant.merge(num_reviews_viet, on = "user_id", how = "inner")

In [287]:
user_to_restaurant['weighted_rating'] = user_to_restaurant['user_rating'] * user_to_restaurant['num_reviews_viet']

In [288]:
user_to_restaurant.head()

,user_id,business_id,user_rating,user_name,city,business_name,categories,review_count,average_stars,num_reviews_viet,weighted_rating
0,0pf5VuzE4_1pwj5NJHG5TQ,Jj8ubiwwuCR-rrhrrjcryw,2,G,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,2
1,2Ux6jUsYoWA_A3fc5XpLVw,Jj8ubiwwuCR-rrhrrjcryw,1,Tim,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,1
2,EYcSFRF0sNaELv0o0S63Aw,Jj8ubiwwuCR-rrhrrjcryw,1,Que,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,1
3,lBzCbSf9ekDP4iao-5Sb0Q,Jj8ubiwwuCR-rrhrrjcryw,3,Jasmine,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,2,6
4,lBzCbSf9ekDP4iao-5Sb0Q,gQMAcDm8kv8ev7x2BshMwg,5,Jasmine,Phoenix,Pho Thanh,"Restaurants, Vietnamese, Soup",740,4.0,2,10

In [289]:
sum_of = user_to_restaurant.groupby(['business_name', 'city', 'average_stars']).sum()
new_stars = (sum_of['weighted_rating'] / sum_of['num_reviews_viet']).reset_index(name='weighted_stars')

In [290]:
business_report = businesses.merge(report, on = 'business_id', how = 'inner')

In [291]:
business_report.head()

,business_id,city,business_name,categories,review_count,average_stars,weighted_stars
0,KoKFVOm09q5LHkHNwFIjIQ,Montral,Pho 198,"Restaurants, Vietnamese",3,4.0,3.214286
1,YSBOJuLA70d6s1fAWBjbAA,Toronto,Galaxy T&T,"Specialty Food, Sandwiches, Juice Bars & Smoot...",5,5.0,5.000000
2,4SQvBWjDh_eUx_10M-eigA,Toronto,Lan Restaurant,"Restaurants, Vietnamese",34,3.5,3.188889
3,_xavJB9Uia1CsPDlGFw5Qg,Markham,Xe Lua Restaurant,"Restaurants, Vietnamese",13,1.5,1.235808
4,42-UJ-c_97IeqUc6BWjmnA,Toronto,Pho 88,"Restaurants, Thai, Vietnamese",66,2.5,2.807512

# Part 2

In [292]:
viet_names = pd.read_csv('viet_names.txt')

In [293]:
user_to_restaurant.head()

,user_id,business_id,user_rating,user_name,city,business_name,categories,review_count,average_stars,num_reviews_viet,weighted_rating
0,0pf5VuzE4_1pwj5NJHG5TQ,Jj8ubiwwuCR-rrhrrjcryw,2,G,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,2
1,2Ux6jUsYoWA_A3fc5XpLVw,Jj8ubiwwuCR-rrhrrjcryw,1,Tim,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,1
2,EYcSFRF0sNaELv0o0S63Aw,Jj8ubiwwuCR-rrhrrjcryw,1,Que,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,1,1
3,lBzCbSf9ekDP4iao-5Sb0Q,Jj8ubiwwuCR-rrhrrjcryw,3,Jasmine,Phoenix,Da Vang Restaurant,"Vietnamese, Restaurants",597,4.0,2,6
4,lBzCbSf9ekDP4iao-5Sb0Q,gQMAcDm8kv8ev7x2BshMwg,5,Jasmine,Phoenix,Pho Thanh,"Restaurants, Vietnamese, Soup",740,4.0,2,10

In [294]:
user_to_restaurant['reviewer_viet_name'] = user_to_restaurant['user_name'].apply(lambda x : viet_names.name.str.contains(x.lower().capitalize()).any())

In [295]:
user_to_restaurant['weighted_rating_2'] = user_to_restaurant['reviewer_viet_name'] * user_to_restaurant['user_rating']

In [296]:
sum_of2 = user_to_restaurant[user_to_restaurant.reviewer_viet_name == True].groupby(['business_name', 'city', 'average_stars']).sum()
new_stars2 = (sum_of2['weighted_rating_2'] / sum_of2['reviewer_viet_name']).reset_index(name='weighted_stars_2')

In [297]:
business_report = business_report.merge(new_stars2, on = ['business_name', 'city', 'average_stars'], how = 'inner')

In [298]:
business_report.head()

,business_id,city,business_name,categories,review_count,average_stars,weighted_stars,weighted_stars_2
0,4SQvBWjDh_eUx_10M-eigA,Toronto,Lan Restaurant,"Restaurants, Vietnamese",34,3.5,3.188889,4.333333
1,_xavJB9Uia1CsPDlGFw5Qg,Markham,Xe Lua Restaurant,"Restaurants, Vietnamese",13,1.5,1.235808,2.000000
2,42-UJ-c_97IeqUc6BWjmnA,Toronto,Pho 88,"Restaurants, Thai, Vietnamese",66,2.5,2.807512,2.250000
3,qrr5PjTljEn_94tL83ETag,Scarborough,Lac Vien Vietnamese Restaurant,"Vietnamese, Restaurants",68,3.0,3.202811,2.727273
4,oICXzFAaUMrYGzjRWmkw4Q,Toronto,Anh Dao,"Asian Fusion, Vietnamese, Restaurants",85,3.5,3.447504,3.692308

# Part 3

In [299]:
business_report['city'].unique()

array(['Toronto', 'Markham', 'Scarborough', 'Mississauga', 'Montral',
       'Calgary', 'Phoenix', 'Cleveland', 'Charlotte', 'Goodyear',
       'Richmond Hill', 'Pittsburgh', 'Vaughan', 'Las  Vegas', 'Monona',
       'Cave Creek', 'Mesa', 'Scottsdale', 'Madison', 'Las Vegas',
       'Parma', 'Chandler', 'MESA', 'Newmarket', 'Aurora', 'North York',
       'Painesville', 'Henderson', 'Urbana', 'Midnapore', 'Oakville',
       'Lyndhurst', 'Saint-Laurent', 'Matthews', 'Monroe',
       'Dollard-des Ormeaux', 'North Las Vegas', 'Peoria', 'Tempe',
       'Etobicoke', 'Brossard', 'Lakewood', 'Rocky River', 'Indian Trail',
       'Northwest Calgary', 'Mont-Saint-Hilaire', 'Laval', 'Glendale',
       'Champaign', 'Brampton', 'Pickering', 'Kent', 'Bradford',
       'Concord', 'Ajax', 'Willoughby', 'Whitby', 'Savoy', 'Gastonia',
       'Downtown', 'Anjou', 'Woodmere', 'Rantoul', 'Surprise',
       'Dollard-des-Ormeaux', 'North Olmsted', 'Westlake', 'Chesterland',
       'Paradise Valley', 'Airdrie', 'Huntersville', 'Strongsville',
       'Gilbert', 'Cornelius', 'Chestermere', 'Stouffville',
       'Saint-Leonard', 'Verdun', 'Berea', 'Homestead', 'Saint-Lambert',
       'Cleveland Heights', 'Frazer', 'Avondale'], dtype=object)

In [300]:
business_report[(business_report.city == 'Toronto') & (business_report.average_stars >= 4.0)].count()

business_id         58
city                58
business_name       58
categories          58
review_count        58
average_stars       58
weighted_stars      58
weighted_stars_2    58
dtype: int64

In [301]:
business_report[(business_report.city == 'Toronto') & (business_report.weighted_stars >= 4.0)].count()

business_id         28
city                28
business_name       28
categories          28
review_count        28
average_stars       28
weighted_stars      28
weighted_stars_2    28
dtype: int64

In [302]:
business_report[(business_report.city == 'Toronto') & (business_report.weighted_stars_2 >= 4)].count()

business_id         60
city                60
business_name       60
categories          60
review_count        60
average_stars       60
weighted_stars      60
weighted_stars_2    60
dtype: int64

In [303]:
presentation = business_report[['business_name', 'city', 'review_count', 'average_stars', 'weighted_stars', 'weighted_stars_2']]

In [304]:
presentation.head()

,business_name,city,review_count,average_stars,weighted_stars,weighted_stars_2
0,Lan Restaurant,Toronto,34,3.5,3.188889,4.333333
1,Xe Lua Restaurant,Markham,13,1.5,1.235808,2.000000
2,Pho 88,Toronto,66,2.5,2.807512,2.250000
3,Lac Vien Vietnamese Restaurant,Scarborough,68,3.0,3.202811,2.727273
4,Anh Dao,Toronto,85,3.5,3.447504,3.692308

In [305]:
presentation.head()

,business_name,city,review_count,average_stars,weighted_stars,weighted_stars_2
0,Lan Restaurant,Toronto,34,3.5,3.188889,4.333333
1,Xe Lua Restaurant,Markham,13,1.5,1.235808,2.000000
2,Pho 88,Toronto,66,2.5,2.807512,2.250000
3,Lac Vien Vietnamese Restaurant,Scarborough,68,3.0,3.202811,2.727273
4,Anh Dao,Toronto,85,3.5,3.447504,3.692308

In [311]:
decrease1 = 0
decrease2 = 0
for city in presentation.city.unique():
    a = presentation[(presentation.city == city) & (presentation.average_stars >= 4)].shape[0]
    b = presentation[(presentation.city == city) & (presentation.weighted_stars >= 4)].shape[0]
    c = presentation[(presentation.city == city) & (presentation.weighted_stars_2 >= 4)].shape[0]
    if (a > b):
        decrease1 += 1
    if (a > c):
        decrease2 += 1

In [312]:
decrease1

46

In [313]:
decrease2

30

In [314]:
len(presentation.city.unique())

84

In [315]:
46 / 84

0.5476190476190477

In [317]:
30 / 84

0.35714285714285715